.containerTable {
  flex: 1 20%;
  background: #ffff;
  margin: 1em 0 0 0;
  padding: 2em;
}

.title {
  text-align: center;
  color: #0d6425;
}

.containerOperation {
  padding: 0 2em;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  font-size: 1.5em;
  font-weight: 600;
  color: #0d6425;
}

.containerButton {
  text-align: center;
}

.containerButton > button {
  background-color: #1A993D;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  border: solid transparent;
  cursor: pointer;
  font-weight: 700;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
