.boxForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffd29d;
  padding: 50px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title {
  color: #a41623;
}

.input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.button {
  background-color: #a41623;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.link {
  color: #a41623;
}
